/* 主体 */

.mg_main {
    margin-top: 50px;
}

.mg_main .mg_title {
    margin-bottom: 20px;
    background-color: #393d42;
}

.mg_main .mg_title a {
    display: block;
    float: left;
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    color: #fee7b8;
}

.mg_main .mg_title a:first-child {
    border-right: 2px solid #fee7b8;
}

.mg_main .mg_title a:hover {
    background-color: #4e5358;
}

.goods_list {
    min-height: 600px;
}

.goods_list .mygoods {
    height: 180px;
    margin-bottom: 15px;
    background-color: #f0f0f0;
}

.goods_list .mygoods img {
    display: block;
    float: left;
    height: 180px;
    margin: 10px 10px 0;
    max-height: 160px;
    box-sizing: border-box;
}

.goods_list .mygoods .myGood_info {
    float: left;
    width: 30%;
    margin: 10px 30px 0;
}

.myGood_info h2 {
    font-size: 25px;
    margin-top: 10px;
}

.myGood_info p {
    margin-top: 30px;
    font-size: 20px;
}

.myGood_info p strong {
    color: #ff6700;
    margin-right: 10px;
}

.myGood_info p:first-child {
    margin-top: 10px;
}

.myGood_info p:last-child {
    margin-top: 30px;
    font-size: 16px;
}

.goods_list .mygoods .btns {
    float: right;
    margin: 10px 20px 10px 0;
}

.mygoods .btns button {
    display: block;
    width: 100px;
    height: 40px;
    border: none;
    background-color: #393d42;
    color: #fee7b8;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}

.mygoods .btns button:hover {
    background-color: #4e5358;
}

.goods_list .no_goods p {
    font-size: 28px;
    padding-top: 200px;
    text-align: center;
}

.goods_list .no_goods a:hover {
    color: #ff6700;
}