{{extend './layouts/layout.html'}}

{{block 'title'}}<title>用户管理</title>{{/block}}

{{block 'body'}}
<section class="jumbotron mb-0 bg-white text-center">
    <div class="container">
        <p class="lead text-muted">101°后台管理</p>
    </div>
</section>
<section class="py-5 bg-light">
    <div class="container">
        <div id="members" class="row">
            <!--添加数据-->
        </div>
    </div>
</section>
{{/block}}

{{block 'temp'}}
<script src="/assets/js/index.admin.js"></script>
<script id="userList" type="text/html">
    {#each list#}
    <div class="col-lg-4 col-md-6 item">
        <div class="card mb-4">
            <div class="card-img-top py-4 bg-dark text-center">
                <div class="img-thumbnail mb-2 rounded-circle">
                    <img src="/uploads/userphoto/{#$value.uicon#}" alt="{#$value.nickname#}">
                </div>
                <h3 class="card-title text-light">{#$value.nickname#}</h3>
            </div>
            <div class="card-body">
                <p class="card-text">用户名：{#$value.username#}</p>
                <p class="card-text">手机号：{#$value.uphone#}</p>
                <a href="/admin/detail?id={#$value.uid#}" class="card-link">查看详情</a>
                <a href="javascript:" delID="{#$value.uid#}" class="card-link text-danger del">删除</a>
            </div>
        </div>
    </div>
    {#/each#}
</script>
{{/block}}